*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button {
    background: none;
    border: none;
}
body{
    width: 1600px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}
header{
    background: #222222;
    display: flex;
    justify-content: space-around;
}
.left, .right{
    padding: 18px 0;
}
.left_link1{
    margin-right: 41px;
}
.right_link1, .right_link2{
    margin-right: 33px;
}
.top{
    background: #F1E4E6;
    display: flex;
}
.top_name{
    display: flex;
    margin: auto;
    margin-left: 63px;
}
.top_name1{
    display: block;
    margin-right: 16px;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}
.top_name2{
    display: block;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.top_name3{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.top_name4{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F;
}
.offer{
    padding: 60px 0;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template: "a b c"
                   "d d d";
    grid-template-columns: repeat(3,360px);
    grid-template-rows: 260px 180px;
    justify-content: center;
}
.offer_h3{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.offer_h2{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}
.offer_for_women{
    grid-area: a;
    height: 100%;
    background: center no-repeat url(img/offer_for_women.svg);
    opacity: 0.7;
    width: 100%;
}
.offer_for_men{
    grid-area: b;
    background: center no-repeat url(img/offer_for_men.svg);
    opacity: 0.7;
}
.offer_for_kids{
    grid-area: c;
    background:center no-repeat url(img/offer_for_kids.svg);
    opacity: 0.7;
}
.offer_accesories{
    grid-area: d;
    background: center no-repeat url(img/offer_accesories.svg);
    opacity: 0.7;
}

